<div class="body">
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <!-- <img src="assets/slide2.jpg" class="img-fluid big-picture" alt=""> -->
    <iframe title="vimeo-player" class="big-picture" src="https://player.vimeo.com/video/718672070?h=9accaa92c2" width="1900" height="500" frameborder="5" allowfullscreen></iframe>
    <div class="carousel-caption">
      ΤΙ ΕΙΝΑΙ Η ΤΡΙΣΩΜΙΑ 21 (ΣΥΝΔΡΟΜΟ DOWN);
    </div>
  </div>
</div>

<div class="card w-100 text-center ">
  <div class="card-body w-100 text-center cardBody justify-content-center" style=" display:flex ;">
    
    <div class="card-text mb-2 w-50 textWrap" >
      <p>Το σύνδρομο Down (προφέρεται Ντάουν) (ή αλλιώς Τρισωμία 21 ή Τρισωμία G)
      περιγράφει μια χρωμοσωμική ανωμαλία, που περικλείει ένα σύνολο χαρακτηριστικών,
      τα οποία υπάρχουν εκ γενετής στους φορείς της γενετικής αυτής βλάβης και
      αφορούν παρεκκλίσεις στη σωματική διάπλαση, τη νοητική ανάπτυξη και την
      ψυχοκοινωνική εξέλιξή τους.</p>
      <br>
      <p>Στυλιανός Αντωναράκης
      Ο διεθνώς καταξιωμένος γενετιστής, καθηγητής και πρόεδρος στο τμήμα Γενετικής
      Ιατρικής του Πανεπιστημίου της Γενεύης που, μαζί με τους συνεργάτες του,
      χαρτογράφησε την ακολουθία του χρωμοσώματος 21 που ευθύνεται για το
      σύνδρομο Down, καθιερώσε με δική του παραίνεση το 2006 η 21η Μαρτίου ως η
      Παγκόσμια Ημέρα για το Σύνδρομο Down, αναφέρει: «Επέλεξα την 21η Μαρτίου όχι
      τυχαία, αφού είναι ο τρίτος μήνας του χρόνου και τα άτομα με Down έχουν τρία
      χρωμοσώματα 21 αντί για δύο».</p>
      <br>
      <p>Χαρακτηριστικά αναφέρει:
      «Έχουμε 23 ζευγάρια από αυτά και κληρονομούμε μισά από τον πατέρα και μισά από
      τη μητέρα μας και το πιο μικρό από τα χρωμοσώματα έχει τον αριθμό 21. Αποτελεί
      1,5% του γονιδιώματος, το κείμενό του αποτελείται από περίπου 46 εκατομμύρια
      γράμματα (νουκλεοτίδια) και περιέχει 240 γονίδια που κωδικοποιούν πρωτεΐνες. Όσον
      αφορά το σύνδρομο, περίπου ένα στα 700 νεογέννητα, αντί να έχει 2 αντίγραφα του
      χρωμοσώματος 21, έχει 3 αντίγραφα -η λεγόμενη τρισωμία 21- και αυτή η μικρή
      προσθήκη γονιδιώματος ευθύνεται για το σύνολο των συμπτωμάτων που
      ονομάστηκε σύνδρομο Down».</p>
  </div>
</div>
</div>
