<div class="row" style="margin-top: 30px;">
    <div class="col-3"></div>
    <div class="col-lg-2 col-md-6 col-md-offset-1 col-sm-7 col-xs-12 shadow-lg p-3 mb-5 bg-white rounded"
        style="background-color:#ffe7ca!important; height:100%">

        <div class="widget">
            <h2 class="widget-title style5">Επικοινωνήστε μαζί μας</h2>
            <p>Για παραγγελίες προϊόντων παρακαλώ επικοινωνήστε μαζί μας συμπληρώνοντας την φόρμα και θα σας απαντήσουμε
                το συντομότερο δυνατόν. Επιπλέον θα μας βρείτε στα παρακάτω:</p><br>
           

                <p ><span class="fa fa-envelope-o"></span>Email: <a
                        href="mailto:humanity@gmail.com">tagma21@gmail.com</a></p>


                <p><span class="fa fa-phone"></span>Τηλέφωνο: (+30) 6987654367</p>


                <p><span class="fa fa-map-marker"></span>Διεύθυνση: Ελαιών 12-14, Κηφισιά</p>

            
        </div>

    </div>

    <div class="contact-form-full col-lg-3 col-md-4 col-sm-4 col-xs-11 " style="padding-bottom:5px; padding-top:5px;">

        <div class="inner contact shadow-lg p-3 mb-5 bg-white rounded ">

            <div class="contact-form">

                <form id="contact-us" method="post" action="#">

                    <div class="col-xs-12 wow animated slideInLeft" data-wow-delay=".5s">

                        <input type="text" name="name" id="name" required="required" class="form"
                            placeholder="Ονοματεπώνυμο" />

                        <input type="email" name="mail" id="mail" required="required" class="form"
                            placeholder="Email" />

                    </div>
                    <div class="col-xs-12 wow animated slideInRight" data-wow-delay=".5s">

                        <textarea name="message" id="message" class="form textarea" placeholder="Μήνυμα"></textarea>
                    </div>
                    <div class="relative fullwidth col-xs-12">

                        <button type="submit" id="submit" name="submit" class="form-btn semibold">Αποστολή
                            Μηνύματος</button>
                    </div>
                    <div class="clear"></div>
                </form>
                <div class="mail-message-area">
                    <div class="alert gray-bg mail-message not-visible-message">
                        <strong>Thank You !</strong> Your email has been delivered.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<section class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3140.2083945317336!2d23.796449415658252!3d38.088812801801446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a19f0fbe261e5b%3A0xc37d1e2a07a5438e!2zzpXOu86xzrnPjs69IDEyLCDOms63z4bOuc-DzrnOrCAxNDUgNjQ!5e0!3m2!1sel!2sgr!4v1669488661448!5m2!1sel!2sgr"
        width="100%" height="450" frameborder="0" ></iframe>
</section>