<div class="carousel-inner" role="listbox">
    <div class="item active">
        <!-- <img src="assets/slide2.jpg" class="img-fluid big-picture" alt=""> -->
        <iframe title="vimeo-player" class="big-picture" src="https://player.vimeo.com/video/718672070?h=9accaa92c2"
        width="1900" height="500" frameborder="5" allowfullscreen></iframe>
        <div class="carousel-caption">
            ΤΑ ΝΕΑ ΜΑΣ
        </div>
    </div>
</div>


<div class="row" style="background-color: #dbd3cc">
    <div class="col-2"></div>

    <div id="exTab2" class="col-md-8 col-lg-7 col-lg-offset-1 col-md-offset-1">
        <!-- <ul class="nav nav-tabs" >
            <li class="active" >
                <a href="#1" style="background-color: #E0AE8B" data-toggle="tab">Εκδηλώσεις</a>
            </li>
            <li><a href="#2" style="background-color: #E0AE8B" data-toggle="tab">Projects</a>
            </li>
            <li><a href="#3" style="background-color: #E0AE8B" data-toggle="tab">Αποφάσεις</a>
            </li>
        </ul> -->

        <div class="tab-content ">
            <div class="tab-pane active" id="1">
                <div class="row">
                    <div class="blog-event col-6">
                        <div class="featured-img">
                            <img src="assets/tagma_event.jpg" width="150" alt="">
                        </div>
                        <div class="featured-blog">
                            <h4 class="articleHeader">Όταν άτομα με σύνδρομο Down «δημιουργούν» μία κοινωνία που θα αξίζει</h4>
                            <p>  To World Human Forum σε συνεργασία με το Μουσείο Φυσικής Ιστορίας Γουλανδρή, το TAGMA21 και το Victoria Square Project παρουσιάζουν την Τρίτη 29.11, στις 19:00, το Γούρι για το 2023 στο πλαίσιο των αξιών του Νέου Ευρωπαϊκού Μπάουχαους.</p>
                            <button class="button-info"><a style="text-decoration:none; color:black;" href="https://www.newsbomb.gr/bombplus/politismos/story/1375039/otan-atoma-me-syndromo-down-dimiourgoyn-mia-koinonia-pou-tha-aksizei?fbclid=IwAR338PU9vtCd6QjzCBAl1lI_D6v_0ieVotVWusjYqnQptF2Gbc-6cKmyeMA">Διαβάστε Περισσότερα</a></button>
                        </div>
                    </div>
                    <div class="blog-event col-6">
                        <div class="featured-img">
                            <img src="assets/1.jpg" width="150" alt="">
                        </div>
                        <div class="featured-blog">
                            <h3 class="articleHeader">Συνέντευξη Πέγκυ Λούτου</h3>
                            <p>Πατήστε για να διαβάσετε την συνέντευξη της Πέγκυ Λούτου στο World Human Forum.</p>
                            <button class="button-info"><a style="text-decoration:none;color: black;" href="https://worldhumanforum.earth/beautiful-sustainable-together-down-syndrome-initiative-setting-the-example/">Διαβάστε Περισσότερα</a></button>
                        </div>
                    </div>
                    <div class="blog-event col-6">
                        <div class="featured-img">
                            <img src="assets/2.jpg" width="150" alt="">
                        </div>
                        <div class="featured-blog">
                            <h4 class="articleHeader">1ο Φεστιβάλ Νέου Ευρωπαικού Μπάουχαους Ελλάδας</h4>
                            <p>  Πατήστε για να δείτε το βίντεο στο Youtube από την συμμετοχή του TAGMA21 στο 1ο Φεστιβάλ Νέου Ευρωπαικού Μπάουχαους Ελλάδας στην συζήτηση.</p>
                            <button class="button-info"><a style="text-decoration:none; color:black;" href="https://www.youtube.com/watch?v=TZtzYf01tVM&ab_channel=WorldHumanForum">Δείτε το Βιντεο</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>