<nav class="navbar navbar-expand-sm navbar-light" style="height: 180px;" id="neubar">
  <!-- <div class="container"> -->
  <a class="navbar-brand" href="#"><img src="/assets/logo_tagma.png" height="140" /></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto ">
      <li class="nav-item">
        <a class="nav-link mx-2" aria-current="page" href="/down">Τι είναι το σύνδρομο down;</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Tagma21
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Σκοπός</a></li>
          <li><a class="dropdown-item" href="#">Καταστατικό</a></li>
          <li><a class="dropdown-item" href="#">Μέλη</a></li>
          <li><a class="dropdown-item" href="#">Διοικητικό Συμβούλιο</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="/news-page">Νέα</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="#">Συνεργασίες-Φορείς</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="/products">Προϊόντα</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="/contact">Επικοινωνία</a>
      </li>

    </ul>
  </div>
  <!-- </div> -->
</nav>

<router-outlet></router-outlet>





  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-6 footer-links">
            <div class="footer-info">
              <h3>Χορηγοί</h3>
              <section id="clients" class="clients">
                <div class="container" data-aos="zoom-in">

                  <div class="row d-flex align-items-center">
                    <div class="col-lg-3 col-md-6 ">
                      <img src="assets/client-1.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-3 col-md-6 col-6">
                      <img src="assets/client-2.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-3 col-md-6 col-6">
                      <img src="assets/client-3.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-3 col-md-6 col-6">
                      <img src="assets/client-4.png" class="img-fluid" alt="">
                    </div>

                    <!-- <div class="col-lg-6 col-md-6 col-6">
                  <img src="assets/client-5.png" class="img-fluid" alt="">
                </div>
      
                <div class="col-lg-6 col-md-6 col-6">
                  <img src="assets/client-6.png" class="img-fluid" alt="">
                </div> -->

                  </div>

                </div>
              </section>
            </div>
          </div>

          <div class="col-lg-12 col-md-6">
            <div class="footer-info">
              <h3>Tagma21</h3>
              <p style="font-size: 20px;">
                <span class="fa fa-map-marker"></span> Λεωφόρος Κηφισίας 293,
                Κηφισία 12345, Αθήνα<br><br>
                <span class="fa fa-phone"></span> +30 6987657789<br><br>
                <span class="fa fa-envelope-o"></span> tagma21@gmail.com<br><br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container" >
      <div class="copyright" >
        &copy; Copyright Created By Christos Rimpas
      </div>
    </div>
  </footer>