<div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/slide2.jpg" class="img-fluid big-picture" alt="">
      <div class="carousel-caption">
        Τα Προϊόντα μας
      </div>
    </div>
  </div>
<div class="row">
    <div class='container-fluid col-6' style="width: 45%;">

        <div class="card mx-auto  mt-5 pt-4">
            <div class="d-flex sale">
                <div class="btn saleText">7 €</div>
            </div>
            <img class='mx-auto img-thumbnail' src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto" />
            <div class="card-body text-center mx-auto">
                <h5 class="card-title">Παράδειγμα 1</h5>
                <p class="card-text"></p>
            </div>
        </div>


    </div>
    <div class='container-fluid col-6' style="width: 45%;">
        <div class="card mx-auto mt-5 pt-4">
            <div class="d-flex sale ">
                <div class="btn saleText">9 €</div>
            </div>
            <img class='mx-auto img-thumbnail' src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto" />
            <div class="card-body text-center mx-auto">
                <h5 class="card-title">Παράδειγμα 2</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class='container-fluid col-6' style="width: 45%;">

        <div class="card mx-auto  mt-5 pt-4">
            <div class="d-flex sale">
                <div class="btn saleText">7 €</div>
            </div>
            <img class='mx-auto img-thumbnail' src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto" />
            <div class="card-body text-center mx-auto">
                <h5 class="card-title">Παράδειγμα 3</h5>
                <p class="card-text"></p>
            </div>
        </div>


    </div>
    <div class='container-fluid col-6' style="width: 45%;">
        <div class="card mx-auto mt-5 pt-4">
            <div class="d-flex sale ">
                <div class="btn saleText">9 €</div>
            </div>
            <img class='mx-auto img-thumbnail' src="https://i.imgur.com/WaZxrEe.jpg" width="auto" height="auto" />
            <div class="card-body text-center mx-auto">
                <h5 class="card-title">Παράδειγμα 4</h5>
            </div>
        </div>
    </div>
</div>
<br>
<br>