<div class="body">
    <div class="carousel-inner" role="pstbox">
        <div class="item active">
            <!-- <img src="assets/spde2.jpg" class="img-fluid big-picture" alt=""> -->
            <iframe title="vimeo-player" class="big-picture" src="https://player.vimeo.com/video/718672070?h=9accaa92c2"
                width="1900" height="500" frameborder="5" allowfullscreen></iframe>
            <div class="carousel-caption">
                 ΚΑΤΑΣΤΑΤΙΚΟ-ΣΚΟΠΟΙ
            </div>
        </div>
    </div>
    <div class="card w-100 text-center ">
        <div class="card-body w-100 text-left cardBody justify-content-center" style=" display:flex ;">
           
            
                <ul class="card-text mb-2 w-50 textWrap">
                    <p><b> ΑΡΘΡΟ 1: Ίδρυση -Επωνυμία -Έδρα</b>
                        Συνιστάται Σωματείο με έδρα τον Δήμο Κηφισιάς (οδός Ελαιών 12-14) και με
                        την επωνυμία «Τρισωμία 21 Αυτόνομο Παγκόσμιο Μουσείο Τεχνών»
                        και τον διακριτικό τίτλο «TAGMA 21», η οποία στα αγγλικά αποδίδεται ως
                        «Trisomy 21 Autonomous Global Museum Arts - TAGMA 21».</p>
                        <br>
                    <b>ΑΡΘΡΟ 2: Σκοπός και Μέσα</b>
                    <p>Σκοπός του Σωματείου είναι:</p>
                <p>Η προάσπιση, η ηθική και υλική ενίσχυση και η υποστήριξη των ατόμων με
                        σύνδρομο Down (επωφελούμενα άτομα).</p>
                        <hr class="dashed">
                        
                <p>Η ανάπτυξη των δεξιοτήτων και η υποστήριξη της καλλιτεχνικής
                    δημιουργίας, της έκφρασης και της επικοινωνίας των επωφελούμενων ατόμων
                    μέσω της Τέχνης.</p>

                    <hr class="dashed">
                    <p>Η ενίσχυση των εκπαιδευτικών και επαγγελματικών δεξιοτήτων των
                        επωφελούμενων ατόμων.</p>
                        <hr class="dashed">
                        <p>Η υλοποίηση δράσεων για την ένταξη των επωφελούμενων ατόμων στην
                            παραγωγική διαδικασία.</p>
                            <hr class="dashed">
                            <p>Η υλοποίηση δράσεων για τη συμμετοχή των επωφελούμενων ατόμων σε
                                πολιτιστικά και ψυχαγωγικά δρώμενα.</p>
                                <hr class="dashed">
                            <p>Η ενημέρωση και ευαισθητοποίηση της κοινωνίας για θέματα που αφορούν
                                τα επωφελούμενα άτομα και η υποστήριξη μεμονωμένων ατόμων (ιατρών,
                                ερευνητών, κλπ.) και φορέων που ασχολούνται με το σύνδρομο Down.
                                Μέσα προς επίτευξη των ανωτέρω σκοπών είναι ιδίως:</p>
                                <hr class="dashed">
                            <p>Η διοργάνωση πάσης φύσεως φιλανθρωπικών εκδηλώσεων,
                                δραστηριοτήτων εθελοντισμού και κοινωνικής αλληλεγγύης, επικοινωνιακών
                                και ενημερωτικών εκστρατειών, ημερίδων, σεμιναρίων, συνεδρίων,
                                επιστημονικών συναντήσεων, πολιτιστικών, καλλιτεχνικών, εικαστικών και
                                μουσικών εκδηλώσεων, η δημιουργία μουσειακών χώρων, η διοργάνωση
                                δημοπρασιών και εν γένει η οργάνωση και υποστήριξη κάθε δραστηριότητας
                                που θα συμβάλλει στην ευόδωση των σκοπών του σωματείου.</p>
                                <hr class="dashed">
                            <p>Η διοργάνωση εκδηλώσεων και δράσεων κάθε μορφής και περιεχομένου
                                (ενδεικτικά πολιτιστικών, ψυχαγωγικών, εκπαιδευτικών, περιβαλλοντολογικών,
                                παραγωγικών, κοινωνικής αλληλεγγύης κλπ.) στις οποίες θα λαμβάνουν μέρος
                                τα επωφελούμενα άτομα, ώστε να αναδεικνύουν τις ικανότητες και τις
                                δεξιότητές τους, καθώς και η συμμετοχή των επωφελούμενων ατόμων σε
                                δράσεις και εκδηλώσεις τρίτων φορέων για τον ίδιο σκοπό.</p>
                                <hr class="dashed">
                            <p>Η εμπορική διάθεση προϊόντων δημιουργίας ή/και αναδημιουργίας των
                                επωφελουμένων ατόμων, όπως και κάθε είδους προϊόντων για την οικονομική
                                υποστήριξη του Σωματείου και των δράσεών του.</p>
                                <hr class="dashed">
                            <p>Οι δημοσιεύσεις, οι εκδόσεις εντύπων, η διατήρηση ενημερωτικού
                                ιστοτόπου.</p>
                                <hr class="dashed">
                            <p>Η ανάπτυξη και εκτέλεση δράσεων και προγραμμάτων εθνικών,
                                ευρωπαϊκών ή γενικά αλλοδαπών φορέων, που αφορούν τα επωφελούμενα
                                άτομα, καθώς και η μελέτη τεκμηρίωσης ολοκληρωμένων προτάσεων και
                                προγραμμάτων στους τομείς της απασχόλησης και της εκπαίδευσης των
                                επωφελούμενων ατόμων.</p>
                                <hr class="dashed">
                            <p>Η επικοινωνία και συνεργασία του Σωματείου με δημόσιους και ιδιωτικούς
                                φορείς, αλλά και μεμονωμένα άτομα με κοινούς ή παρεμφερείς σκοπούς, για
                                την προώθηση των κοινών σκοπών στην Ελλάδα και στο εξωτερικό.</p>
                                <hr class="dashed">
                    
                </ul>
        </div>
    </div>
</div>